<button mat-button class="btn-sport" [id]="matchName+'id'" (click)="showModal(matchName+'modal')">{{matchName}}</button>

<div [id]="matchName+'modal'" class="modal">

  <!-- Modal content -->
  <div class="modal-content">
    <span class="header">{{ matchName }}</span><div class="close" (click)="hideModal(matchName+'modal')">&times;</div>
    <div class="i-frame-container">
      <iframe id="carrom-frame"
              seamless="seamless"
              class="i-frame"
              [src]="iFrameLink | safe"
              frameborder="0"
              scrolling="auto"
              allowtransparency="true">
      </iframe>

    </div>
  </div>

</div>
