.house-image-container{
  height: 300px;
  width: 200px;
  cursor: pointer;
  text-align: center;
}

.house-value-container{
  padding: 5%;
  color: azure;
  border-radius: 5px;
  background: rgba(0, 0, 0, 0.5);
}

.score-bottom{
  color: azure;
  border-radius: 5px;
  background: rgba(0, 0, 0, 0.5);
  font-size: 3em
}

.house-image{
  max-width: 100%;
}

.score-header{
  color: azure;
  margin-block-end:0.2em;
}

.score-slogan{
  color: azure;
}

.score-value{
  color: azure;
  font-size: 4em
}
