<mat-grid-list cols="4" rowHeight="350" gutterSize="5">
  <mat-grid-tile>
    <app-house-card [logoImage]="logoImages[0]" [name]="houseNames[0]"></app-house-card>
  </mat-grid-tile>
  <mat-grid-tile>
    <app-house-card [logoImage]="logoImages[1]" [name]="houseNames[1]"></app-house-card>
  </mat-grid-tile>
  <mat-grid-tile>
    <app-house-card [logoImage]="logoImages[2]" [name]="houseNames[2]"></app-house-card>
  </mat-grid-tile>
  <mat-grid-tile>
    <app-house-card [logoImage]="logoImages[3]" [name]="houseNames[3]"></app-house-card>
  </mat-grid-tile>
</mat-grid-list>
